<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://triton.towson.edu-mysql:3306/ddange1db</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="entities.AmenityEntity"/>
        <mapping class="entities.ApplicantEntity"/>
        <mapping class="entities.ApplicantAppliesForPropertyEntity"/>
        <mapping class="entities.DependentEntity"/>
        <mapping class="entities.DependentLivesWithTennantEntity"/>
        <mapping class="entities.EmployeeEntity"/>
        <mapping class="entities.EmployeeWorksAtPropertyEntity"/>
        <mapping class="entities.ExpenseEntity"/>
        <mapping class="entities.ProperttyNeedsRepairEntity"/>
        <mapping class="entities.PropertyEntity"/>
        <mapping class="entities.PropertyHasAmenityEntity"/>
        <mapping class="entities.PropertyHasExpenseEntity"/>
        <mapping class="entities.RepairEntity"/>
        <mapping class="entities.SellerEntity"/>
        <mapping class="entities.SellerSellsPropertyEntity"/>
        <mapping class="entities.TennantEntity"/>
        <property name="connection.username">ddange1</property>
        <property name="connection.password">Cosc*8re5</property>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>